app_name: Auction Service
environment: development
debug: true
log_channel:
  - stdout
timezone: Asia/Jakarta
port: 8080
uri: http://localhost:8080
fe_uri: http://localhost:3000
cors_allowed_origins:
  - http://localhost:3000
postgres:
  host: localhost
  port: 5432
  username: postgres
  password: secret
  database: auction_service
jwt:
  secret_key: salt-pepper
  access_token_expiry_hours: 24
  refresh_token_expiry_hours: 168
super_admin:
  email: superadmin@example.com
  password: SuperAdmin@123
