app_name: Auction Service
environment: development
debug: true
log_channel:
  - stdout
timezone: Asia/Jakarta
port: 8080
uri: http://localhost:8080
fe_uri: http://localhost:3000
cors_allowed_origins:
  - http://localhost:3000
mysql:
  host: localhost
  port: 3306
  username: mysql
  password: secret
  database: auction_service
jwt:
  secret_key: salt-pepper
  access_token_expiry_hours: 24
  refresh_token_expiry_hours: 168
super_admin:
  phone: "+628100000000"
  password: SuperAdmin@123
filesystem:
  type: local  # local | gcs
  base_uri: http://localhost:8080/storage/public
  presigned_url_secret_key: change-me-in-production
# gcs:  # uncomment when type is gcs
#   file_name: service-account.json
#   project_id: your-gcp-project
#   bucket_name: your-gcs-bucket
